  /*default theme*/
    .default-theme ::-webkit-scrollbar-thumb {
        background: transparent linear-gradient(94deg,#b6842d,#ebda8d 55%,#b7862f);
        border-radius:15px;
    }
    .default-theme .login-card > form {
        box-shadow: 0 0 0 2px #533201;
    }
    .default-theme .login-card .form-center{
        box-shadow:inset 0 0 10px 0 #d4a22a;
    }
    .default-theme .giris-yap-buton,
    .default-theme .marquee-bg .marquee-text,
    .default-theme .span.noti-number,
    .default-theme a.logout-menu,
    .default-theme .dash-div .row div span.dash-bets,
    .default-theme .game-detail-acc p.gd-event-title small strong,
    .default-theme .ctm-datables .dataTables_wrapper .page-item.active .page-link,
    .default-theme .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
    .default-theme .gda-div .btn-success-book,
    .default-theme .gda-div .btn-success-book:hover{
        background: transparent linear-gradient(94deg,#b6842d,#ebda8d 55%,#b7862f);
        color: black !important;
    }
    .default-theme .giris-yap-buton:hover{
        background: transparent linear-gradient(94deg,#ebda8d,#b7862f 55%,#ebda8d);
    }
    .default-theme a.logout-menu:hover{
        background: #d41e1e;
    }
    .default-theme #sidebar-menu>ul>li>a i,
    .default-theme .span.noti-number,
    .default-theme a.logout-menu,
    .default-theme .marquee-bg .marquee-text,
    .default-theme .game-detail-acc p.gd-event-title small strong
    .default-theme .gda-div .btn-success-book,
    .default-theme .gda-div .btn-success-book:hover,
    .default-theme .dash-div .row div span.dash-bets,
    .default-theme .ctm-datables .dataTables_wrapper .page-item.active .page-link,
    .default-theme .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
    .default-theme table.dataTable thead .sorting:before,
    .default-theme table.dataTable thead .sorting_asc:before,
    .default-theme table.dataTable thead .sorting_asc_disabled:before,
    .default-theme table.dataTable thead .sorting_desc:before,
    .default-theme table.dataTable thead .sorting_desc_disabled:before,
    .default-theme table.dataTable thead .sorting:after,
    .default-theme table.dataTable thead .sorting_asc:after,
    .default-theme table.dataTable thead .sorting_asc_disabled:after,
    .default-theme table.dataTable thead .sorting_desc:after,
    .default-theme table.dataTable thead .sorting_desc_disabled:after,
    .default-theme .nav-second-level li a i,
    .default-theme .nav-thrid-level li a i{
        color: #b88831;;
    }
    .default-theme .ctm-form .ctm-form-div i,
    .default-theme span.eyes,
    .default-theme .game-detail-acc .card-header a.card-anchor{
        color: #b88831;
    }
    .default-theme .balance-scale i {
        -webkit-transition: all 1.5s ease-in-out;
        -moz-transition: all 1.5s ease-in-out;
        -o-transition: all 1.5s ease-in-out;
        -ms-transition: all 1.5s ease-in-out;
        transition: all 1.5s ease-in-out;
        -webkit-animation-direction: normal;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: balance;
        -webkit-animation-timing-function: ease-in-out;
        -moz-animation-direction: normal;
        -moz-animation-duration: 2s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-name: balance;
        -moz-animation-timing-function: ease-in-out;
    }
    @keyframes balance {
        0% {
            background: transparent linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
        }
        50% {
            background: transparent linear-gradient(94deg, #ebda8d, #b7862f 55%, #ebda8d);
        }
        100% {
            background: transparent linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
        }
    }
  /*default theme*/

  /*theme 01*/
  .theme-01 ::-webkit-scrollbar-thumb {
      background:#F1C40F;
      border-radius:15px;
  }
  .theme-01 .login-card > form {
      box-shadow: 0 0 0 2px #533201;
  }
  .theme-01 .login-card .form-center{
      box-shadow:inset 0 0 10px 0 #d4a22a;
  }
  .theme-01 .giris-yap-buton,
  .theme-01 .marquee-bg .marquee-text,
  .theme-01 .span.noti-number,
  .theme-01 a.logout-menu,
  .theme-01 .dash-div .row div span.dash-bets,
  .theme-01 .game-detail-acc p.gd-event-title small strong,
  .theme-01 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-01 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-01 .gda-div .btn-success-book,
  .theme-01 .gda-div .btn-success-book:hover,
  .theme-01 span.noti-number{
      background:#F1C40F;
  }
  .theme-01 a.logout-menu:hover, .theme-01 .giris-yap-buton:hover{
      background:#F1C40F;
  }
  .theme-01 #sidebar-menu>ul>li>a i,
  .theme-01 .span.noti-number,
  .theme-01 a.logout-menu,
  .theme-01 .game-detail-acc p.gd-event-title small strong
  .theme-01 .gda-div .btn-success-book,
  .theme-01 .gda-div .btn-success-book:hover,
  .theme-01 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-01 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-01 table.dataTable thead .sorting:before,
  .theme-01 table.dataTable thead .sorting_asc:before,
  .theme-01 table.dataTable thead .sorting_asc_disabled:before,
  .theme-01 table.dataTable thead .sorting_desc:before,
  .theme-01 table.dataTable thead .sorting_desc_disabled:before,
  .theme-01 table.dataTable thead .sorting:after,
  .theme-01 table.dataTable thead .sorting_asc:after,
  .theme-01 table.dataTable thead .sorting_asc_disabled:after,
  .theme-01 table.dataTable thead .sorting_desc:after,
  .theme-01 table.dataTable thead .sorting_desc_disabled:after,
  .theme-01 .nav-second-level li a i,
  .theme-01 .nav-thrid-level li a i{
      color: #F1C40F;
  }
  .theme-01 .gda-div .btn-success-book,
  .theme-01 .gda-div .btn-success-book:hover,
  .theme-01 .game-detail-acc p.gd-event-title small strong,
  .theme-01 .dash-div .row div span.dash-bets,
  .theme-01 .marquee-bg .marquee-text,
  .theme-01 span.noti-number{
      color:#000;
  }
  .theme-01 .ctm-form .ctm-form-div i,
  .theme-01 span.eyes,
  .theme-01 .game-detail-acc .card-header a.card-anchor{
      color: #F1C40F;
  }
  .theme-01 .balance-scale i {
      -webkit-transition: all 1.5s ease-in-out;
      -moz-transition: all 1.5s ease-in-out;
      -o-transition: all 1.5s ease-in-out;
      -ms-transition: all 1.5s ease-in-out;
      transition: all 1.5s ease-in-out;
      -webkit-animation-direction: normal;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-name: balance1;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-direction: normal;
      -moz-animation-duration: 2s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-name: balance1;
      -moz-animation-timing-function: ease-in-out;
  }
  @keyframes balance1 {
      0% {
          background: transparent linear-gradient(94deg, #F1C40F, #ebda8d 55%, #F1C40F);
      }
      50% {
          background: transparent linear-gradient(94deg, #ebda8d, #F1C40F 55%, #ebda8d);
      }
      100% {
          background: transparent linear-gradient(94deg, #F1C40F, #ebda8d 55%, #F1C40F);
      }
  }
  /*theme 01*/

  /*theme 02*/
  .theme-02 ::-webkit-scrollbar-thumb {
      background:#02DE0E;
      border-radius:15px;
  }
  .theme-02 .login-card > form {
      box-shadow: 0 0 0 2px #533201;
  }
  .theme-02 .login-card .form-center{
      box-shadow:inset 0 0 10px 0 #d4a22a;
  }
  .theme-02 .giris-yap-buton,
  .theme-02 .marquee-bg .marquee-text,
  .theme-02 .span.noti-number,
  .theme-02 a.logout-menu,
  .theme-02 .dash-div .row div span.dash-bets,
  .theme-02 .game-detail-acc p.gd-event-title small strong,
  .theme-02 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-02 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-02 .gda-div .btn-success-book,
  .theme-02 .gda-div .btn-success-book:hover,
  .theme-02 span.noti-number{
      background:#02DE0E;
  }
  .theme-02 a.logout-menu:hover, .theme-02 .giris-yap-buton:hover{
      background:#02DE0E;
  }
  .theme-02 #sidebar-menu>ul>li>a i,
  .theme-02 .span.noti-number,
  .theme-02 a.logout-menu,
  .theme-02 .game-detail-acc p.gd-event-title small strong
  .theme-02 .gda-div .btn-success-book,
  .theme-02 .gda-div .btn-success-book:hover,
  .theme-02 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-02 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-02 table.dataTable thead .sorting:before,
  .theme-02 table.dataTable thead .sorting_asc:before,
  .theme-02 table.dataTable thead .sorting_asc_disabled:before,
  .theme-02 table.dataTable thead .sorting_desc:before,
  .theme-02 table.dataTable thead .sorting_desc_disabled:before,
  .theme-02 table.dataTable thead .sorting:after,
  .theme-02 table.dataTable thead .sorting_asc:after,
  .theme-02 table.dataTable thead .sorting_asc_disabled:after,
  .theme-02 table.dataTable thead .sorting_desc:after,
  .theme-02 table.dataTable thead .sorting_desc_disabled:after,
  .theme-02 .nav-second-level li a i,
  .theme-02 .nav-thrid-level li a i{
      color: #02DE0E;
  }
  .theme-02 .gda-div .btn-success-book,
  .theme-02 .gda-div .btn-success-book:hover,
  .theme-02 .game-detail-acc p.gd-event-title small strong,
  .theme-02 .dash-div .row div span.dash-bets,
  .theme-02 .marquee-bg .marquee-text,
  .theme-02 span.noti-number{
      color:#000;
  }
  .theme-02 .ctm-form .ctm-form-div i,
  .theme-02 span.eyes,
  .theme-02 .game-detail-acc .card-header a.card-anchor{
      color: #02DE0E;
  }
  .theme-02 .balance-scale i {
      -webkit-transition: all 1.5s ease-in-out;
      -moz-transition: all 1.5s ease-in-out;
      -o-transition: all 1.5s ease-in-out;
      -ms-transition: all 1.5s ease-in-out;
      transition: all 1.5s ease-in-out;
      -webkit-animation-direction: normal;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-name: balance2;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-direction: normal;
      -moz-animation-duration: 2s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-name: balance2;
      -moz-animation-timing-function: ease-in-out;
  }
  @keyframes balance2 {
      0% {
          background: transparent linear-gradient(94deg, #02DE0E, #ebda8d 55%, #02DE0E);
      }
      50% {
          background: transparent linear-gradient(94deg, #ebda8d, #02DE0E 55%, #ebda8d);
      }
      100% {
          background: transparent linear-gradient(94deg, #02DE0E, #ebda8d 55%, #02DE0E);
      }
  }
  /*theme 02*/

  /*theme 03*/
  .theme-03 ::-webkit-scrollbar-thumb {
      background:#0215EC;
      border-radius:15px;
  }
  .theme-03 .login-card > form {
      box-shadow: 0 0 0 2px #533201;
  }
  .theme-03 .login-card .form-center{
      box-shadow:inset 0 0 10px 0 #d4a22a;
  }
  .theme-03 .giris-yap-buton,
  .theme-03 .marquee-bg .marquee-text,
  .theme-03 .span.noti-number,
  .theme-03 a.logout-menu,
  .theme-03 .dash-div .row div span.dash-bets,
  .theme-03 .game-detail-acc p.gd-event-title small strong,
  .theme-03 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-03 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-03 .gda-div .btn-success-book,
  .theme-03 .gda-div .btn-success-book:hover,
  .theme-03 span.noti-number{
      background:#0215EC;
  }
  .theme-03 a.logout-menu:hover, .theme-03 .giris-yap-buton:hover{
      background:#0215EC;
  }
  .theme-03 #sidebar-menu>ul>li>a i,
  .theme-03 .span.noti-number,
  .theme-03 a.logout-menu,
  .theme-03 .game-detail-acc p.gd-event-title small strong
  .theme-03 .gda-div .btn-success-book,
  .theme-03 .gda-div .btn-success-book:hover,
  .theme-03 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-03 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-03 table.dataTable thead .sorting:before,
  .theme-03 table.dataTable thead .sorting_asc:before,
  .theme-03 table.dataTable thead .sorting_asc_disabled:before,
  .theme-03 table.dataTable thead .sorting_desc:before,
  .theme-03 table.dataTable thead .sorting_desc_disabled:before,
  .theme-03 table.dataTable thead .sorting:after,
  .theme-03 table.dataTable thead .sorting_asc:after,
  .theme-03 table.dataTable thead .sorting_asc_disabled:after,
  .theme-03 table.dataTable thead .sorting_desc:after,
  .theme-03 table.dataTable thead .sorting_desc_disabled:after,
  .theme-03 .nav-second-level li a i,
  .theme-03 .nav-thrid-level li a i{
      color: #0215EC;
  }
  .theme-03 .gda-div .btn-success-book,
  .theme-03 .gda-div .btn-success-book:hover,
  .theme-03 .game-detail-acc p.gd-event-title small strong,
  .theme-03 .dash-div .row div span.dash-bets,
  .theme-03 .marquee-bg .marquee-text,
  .theme-03 span.noti-number{
      color:#000;
  }
  .theme-03 .ctm-form .ctm-form-div i,
  .theme-03 span.eyes,
  .theme-03 .game-detail-acc .card-header a.card-anchor{
      color: #0215EC;
  }
  .theme-03 .balance-scale i {
      -webkit-transition: all 1.5s ease-in-out;
      -moz-transition: all 1.5s ease-in-out;
      -o-transition: all 1.5s ease-in-out;
      -ms-transition: all 1.5s ease-in-out;
      transition: all 1.5s ease-in-out;
      -webkit-animation-direction: normal;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-name: balance3;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-direction: normal;
      -moz-animation-duration: 2s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-name: balance3;
      -moz-animation-timing-function: ease-in-out;
  }
  @keyframes balance3 {
      0% {
          background: transparent linear-gradient(94deg, #0215EC, #ebda8d 55%, #0215EC);
      }
      50% {
          background: transparent linear-gradient(94deg, #ebda8d, #0215EC 55%, #ebda8d);
      }
      100% {
          background: transparent linear-gradient(94deg, #0215EC, #ebda8d 55%, #0215EC);
      }
  }
  /*theme 03*/

  /*theme 04*/
  .theme-04 ::-webkit-scrollbar-thumb {
      background:#00FFF2;
      border-radius:15px;
  }
  .theme-04 .login-card > form {
      box-shadow: 0 0 0 2px #533201;
  }
  .theme-04 .login-card .form-center{
      box-shadow:inset 0 0 10px 0 #d4a22a;
  }
  .theme-04 .giris-yap-buton,
  .theme-04 .marquee-bg .marquee-text,
  .theme-04 .span.noti-number,
  .theme-04 a.logout-menu,
  .theme-04 .dash-div .row div span.dash-bets,
  .theme-04 .game-detail-acc p.gd-event-title small strong,
  .theme-04 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-04 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-04 .gda-div .btn-success-book,
  .theme-04 .gda-div .btn-success-book:hover,
  .theme-04 span.noti-number{
      background:#00FFF2;
  }
  .theme-04 a.logout-menu:hover, .theme-04 .giris-yap-buton:hover{
      background:#00FFF2;
  }
  .theme-04 #sidebar-menu>ul>li>a i,
  .theme-04 .span.noti-number,
  .theme-04 a.logout-menu,
  .theme-04 .game-detail-acc p.gd-event-title small strong
  .theme-04 .gda-div .btn-success-book,
  .theme-04 .gda-div .btn-success-book:hover,
  .theme-04 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-04 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-04 table.dataTable thead .sorting:before,
  .theme-04 table.dataTable thead .sorting_asc:before,
  .theme-04 table.dataTable thead .sorting_asc_disabled:before,
  .theme-04 table.dataTable thead .sorting_desc:before,
  .theme-04 table.dataTable thead .sorting_desc_disabled:before,
  .theme-04 table.dataTable thead .sorting:after,
  .theme-04 table.dataTable thead .sorting_asc:after,
  .theme-04 table.dataTable thead .sorting_asc_disabled:after,
  .theme-04 table.dataTable thead .sorting_desc:after,
  .theme-04 table.dataTable thead .sorting_desc_disabled:after,
  .theme-04 .nav-second-level li a i,
  .theme-04 .nav-thrid-level li a i{
      color: #00FFF2;
  }
  .theme-04 .gda-div .btn-success-book,
  .theme-04 .gda-div .btn-success-book:hover,
  .theme-04 .game-detail-acc p.gd-event-title small strong,
  .theme-04 .dash-div .row div span.dash-bets,
  .theme-04 .marquee-bg .marquee-text,
  .theme-04 span.noti-number{
      color:#000;
  }
  .theme-04 .ctm-form .ctm-form-div i,
  .theme-04 span.eyes,
  .theme-04 .game-detail-acc .card-header a.card-anchor{
      color: #00FFF2;
  }
  .theme-04 .balance-scale i {
      -webkit-transition: all 1.5s ease-in-out;
      -moz-transition: all 1.5s ease-in-out;
      -o-transition: all 1.5s ease-in-out;
      -ms-transition: all 1.5s ease-in-out;
      transition: all 1.5s ease-in-out;
      -webkit-animation-direction: normal;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-name: balance4;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-direction: normal;
      -moz-animation-duration: 2s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-name: balance4;
      -moz-animation-timing-function: ease-in-out;
  }
  @keyframes balance4 {
      0% {
          background: transparent linear-gradient(94deg, #00FFF2, #ebda8d 55%, #00FFF2);
      }
      50% {
          background: transparent linear-gradient(94deg, #ebda8d, #00FFF2 55%, #ebda8d);
      }
      100% {
          background: transparent linear-gradient(94deg, #00FFF2, #ebda8d 55%, #00FFF2);
      }
  }
  /*theme 04*/

  /*theme 05*/
  .theme-05 ::-webkit-scrollbar-thumb {
      background:#B900FF;
      border-radius:15px;
  }
  .theme-05 .login-card > form {
      box-shadow: 0 0 0 2px #533201;
  }
  .theme-05 .login-card .form-center{
      box-shadow:inset 0 0 10px 0 #d4a22a;
  }
  .theme-05 .giris-yap-buton,
  .theme-05 .marquee-bg .marquee-text,
  .theme-05 .span.noti-number,
  .theme-05 a.logout-menu,
  .theme-05 .dash-div .row div span.dash-bets,
  .theme-05 .game-detail-acc p.gd-event-title small strong,
  .theme-05 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-05 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-05 .gda-div .btn-success-book,
  .theme-05 .gda-div .btn-success-book:hover,
  .theme-05 span.noti-number{
      background:#B900FF;
  }
  .theme-05 a.logout-menu:hover, .theme-05 .giris-yap-buton:hover{
      background:#B900FF;
  }
  .theme-05 #sidebar-menu>ul>li>a i,
  .theme-05 .span.noti-number,
  .theme-05 a.logout-menu,
  .theme-05 .game-detail-acc p.gd-event-title small strong
  .theme-05 .gda-div .btn-success-book,
  .theme-05 .gda-div .btn-success-book:hover,
  .theme-05 .ctm-datables .dataTables_wrapper .page-item.active .page-link,
  .theme-05 .ctm-datables .dataTables_wrapper .page-item .page-link:hover,
  .theme-05 table.dataTable thead .sorting:before,
  .theme-05 table.dataTable thead .sorting_asc:before,
  .theme-05 table.dataTable thead .sorting_asc_disabled:before,
  .theme-05 table.dataTable thead .sorting_desc:before,
  .theme-05 table.dataTable thead .sorting_desc_disabled:before,
  .theme-05 table.dataTable thead .sorting:after,
  .theme-05 table.dataTable thead .sorting_asc:after,
  .theme-05 table.dataTable thead .sorting_asc_disabled:after,
  .theme-05 table.dataTable thead .sorting_desc:after,
  .theme-05 table.dataTable thead .sorting_desc_disabled:after,
  .theme-05 .nav-second-level li a i,
  .theme-05 .nav-thrid-level li a i{
      color: #B900FF;
  }
  .theme-05 .gda-div .btn-success-book,
  .theme-05 .gda-div .btn-success-book:hover,
  .theme-05 .game-detail-acc p.gd-event-title small strong,
  .theme-05 .dash-div .row div span.dash-bets,
  .theme-05 .marquee-bg .marquee-text,
  .theme-05 span.noti-number{
      color:#000;
  }
  .theme-05 .ctm-form .ctm-form-div i,
  .theme-05 span.eyes,
  .theme-05 .game-detail-acc .card-header a.card-anchor{
      color: #B900FF;
  }
  .theme-05 .balance-scale i {
      -webkit-transition: all 1.5s ease-in-out;
      -moz-transition: all 1.5s ease-in-out;
      -o-transition: all 1.5s ease-in-out;
      -ms-transition: all 1.5s ease-in-out;
      transition: all 1.5s ease-in-out;
      -webkit-animation-direction: normal;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-name: balance5;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-direction: normal;
      -moz-animation-duration: 2s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-name: balance5;
      -moz-animation-timing-function: ease-in-out;
  }
  @keyframes balance5 {
      0% {
          background: transparent linear-gradient(94deg, #B900FF, #ebda8d 55%, #B900FF);
      }
      50% {
          background: transparent linear-gradient(94deg, #ebda8d, #B900FF 55%, #ebda8d);
      }
      100% {
          background: transparent linear-gradient(94deg, #B900FF, #ebda8d 55%, #B900FF);
      }
  }
  /*theme 05*/