<!-- Topbar Start -->
<div class="navbar-custom">
  <!-- LOGO -->
  <div class="logo-box">
    <a routerLink="/" class="logo text-center">
      <span class="logo-lg">
        <img  src="assets/img/logo.png" alt="" height="45">
      </span>
      <span class="logo-sm">
        <img src="assets/img/logo.png" alt="" height="15">
      </span>
    </a>
  </div>

  <ul class="list-unstyled topnav-menu mb-0">
    <li>
      <button class="button-menu-mobile">
        <i class="mdi mdi-menu"></i>
      </button>
    </li>
    <li class="dropdown notification-list d-flex px-2">
      <a class="nav-link top-searchbar d-sm-block d-none">
        <div class="input-group">
          <input type="text" class="form-control user-search-val" placeholder="Search By Username">
          <div class="input-group-prepend">
            <button class="btn" type="button" (click)="submitForm()"><i class="mdi mdi-search-web"></i></button>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <ul class="list-unstyled topnav-menu float-right mb-0">
    <li class="dropdown notification-list d-flex px-2 mx-2">
      <div *ngIf="userData?.role !== 'SV'">
        <a *ngIf="!isUserBalance && !isLoading" (click)="getBalance()" class="nav-link balance-scale">
          <i class="fa fa-dollar-sign"></i>
        </a>
        <a *ngIf="isLoading" class="nav-link balance-scale">
          <i class="fa fa-refresh fa-spin"></i>
        </a>
      </div>
      <div *ngIf="isUserBalance && !isLoading" class="de-box">
        <a *ngIf="isUserBalance && userData?.role !== 'SV' && userData?.role !== 'ADMIN'" href="#" class="nav-link right-bar-toggle balance d-inline" alt="balance">
          <span>Balance</span>
          <h6><i class="mdi mdi-currency-inr noti-icon"></i><small *ngIf="userBalance">{{userBalance.balance | number}}</small></h6>
        </a>
        <a *ngIf="isUserBalance && userData?.role !== 'SV'" href="#" class="nav-link right-bar-toggle balance d-inline" alt="pl_balance"><!-- claa name(pro-loss) for loss -->
          <span>P/L</span>
          <h6><i class="mdi mdi-currency-inr noti-icon"></i><small *ngIf="userBalance">{{userBalance.pl_balance | number}}</small></h6>
        </a>
      </div>
    </li>
<!--    <li *ngIf="userData?.role !== 'SV' && userData?.w_pl_balance !== undefined" class="dropdown notification-list">-->
<!--      <a href="" class="nav-link right-bar-toggle balance" alt="LOGOUT">&lt;!&ndash; claa name(pro-loss) for loss &ndash;&gt;-->
<!--        <span>W P/L</span>-->
<!--        <h6><i class="mdi mdi-currency-inr noti-icon"></i><small *ngIf="userData">{{userData?.w_pl_balance | number}}</small></h6>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="dropdown notification-list">-->
<!--      <a (click)="getBalance()" class="nav-link balance-scale">-->
<!--        <i class="fa fa-inr"></i>-->
<!--      </a>-->
<!--    </li>-->
    <li class="dropdown notification-list">
      <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
        <span *ngIf="userData?.role == 'ADMIN' && userData?.activityLogCount > '0'" class="noti-number">{{userData?.activityLogCount}}</span>
        <img src="assets/img/icons/profile-default.png" alt="user-image" class="rounded-circle">
        <span class="pro-user-name ml-1" *ngIf="userData">
            {{userData?.name}} <i class="mdi mdi-chevron-down"></i>
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
        <!-- item-->
        <div class="dropdown-header noti-title">
          <h6 class="text-overflow m-0">Welcome! <b>{{userData?.name}}</b></h6>
        </div>

        <hr class="m-0">

        <!-- item-->
        <a *ngIf="userData?.role !== 'SV'" routerLink="/users/client" class="dropdown-item notify-item">
          <i class="mdi mdi-account"></i>
          <span>Client List</span>
        </a>
        <a *ngIf="userData?.role == 'ADMIN'" routerLink="/setting/manage" class="dropdown-item notify-item">
          <i class="mdi mdi-settings"></i>
          <span>Settings</span>
        </a>
        <a *ngIf="userData?.role == 'ADMIN'" routerLink="/casino-setting" class="dropdown-item notify-item">
          <i class="mdi mdi-settings"></i>
          <span>Casino Setting</span>
        </a>
        <a *ngIf="userData?.role == 'ADMIN'" routerLink="/rules" class="dropdown-item notify-item">
          <i class="mdi mdi-plus-circle"></i>
          <span>Add Rules</span>
        </a>
        <a *ngIf="userData?.role == 'ADMIN'" routerLink="/reports/activity-log" class="dropdown-item notify-item">
          <i class="fa fa-bell"></i>
          <span>Activity Log <span class="red" *ngIf="userData?.activityLogCount > '0'">({{userData?.activityLogCount}})</span></span>
        </a>
        <a routerLink="/users/action/change-password/{{userData?.uid}}" class="dropdown-item notify-item">
          <i class="mdi mdi-lock"></i>
          <span>Change Password</span>
        </a>
        <a (click)="logout()" class="dropdown-item notify-item logout-menu">
          <i class="mdi mdi-logout"></i>
          <span>Logout</span>
        </a>

      </div>
    </li>

  </ul>

</div>
<!-- end Topbar -->

<!-- search model -->
<div class="modal fade modal-search-desktop modal-one" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered" style="min-width: 90% !important; min-height: calc(100% - 30rem) !important;">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h4 class="modal-title text-light text-capitalize" id="myCenterModalLabel1">Search Result For: '{{searchUser}}' </h4>
        <button type="button" class="close text-light" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <p class="red error-font p-0 m-0" *ngIf="searchUserError">Something wrong! User not found!</p>
          <table *ngIf="searchUserData != undefined"  class="table table-borderless dark-table-ui finder-table table-centered ctm-datables">
            <thead>
            <tr>
              <th>Role</th>
              <th>Name [username]</th>
              <th>Parent</th>
              <th *ngIf="searchUserData?.role != 'C'">PL (%)</th>
              <th>Pl Balance</th>
              <th *ngIf="searchUserData?.role == 'C'">Available</th>
              <th *ngIf="searchUserData?.role == 'C'">Expose</th>
              <th>My Wallet</th>
              <th *ngIf="searchUserData?.role != 'C'">Reference</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <p *ngIf="searchUserData?.role == 'SM1' || searchUserData?.role == 'SM2'" class="super-master">SM</p>
                <p *ngIf="searchUserData?.role == 'M1'" class="master">M</p>
                <p *ngIf="searchUserData?.role == 'C'" class="client">C</p>
              </td>
              <td>{{searchUserData?.name}}</td>
              <td>{{searchUserData?.pName}}</td>
              <td *ngIf="searchUserData?.role != 'C'">{{searchUserData?.pl}} %</td>
              <td>{{searchUserData?.pl_balance}}</td>
              <td *ngIf="searchUserData?.role == 'C'">{{searchUserData?.available}}</td>
              <td *ngIf="searchUserData?.role == 'C'">{{searchUserData?.expose}}</td>
              <td>{{searchUserData?.balance}}</td>
              <td *ngIf="searchUserData?.role != 'C'">
                <a *ngIf="searchUserData?.reference?.smCount && searchUserData?.reference?.smCount > '0'" target="_blank" routerLink="/users/super-master/reference/{{searchUserData?.uid}}" title="Super Master"><p class="super-master">SM {{searchUserData?.reference?.smCount}}</p></a>
                <a *ngIf="searchUserData?.reference?.mCount && searchUserData?.reference?.mCount > '0'" target="_blank" routerLink="/users/master/reference/{{searchUserData?.uid}}" title="Master"><p class="master">M {{searchUserData?.reference?.mCount}}</p></a>
                <a *ngIf="searchUserData?.reference?.cCount && searchUserData?.reference?.cCount > '0'" target="_blank" routerLink="/users/client/reference/{{searchUserData?.uid}}" title="Client"><p class="client">C {{searchUserData?.reference?.cCount}}</p></a>
              </td>
              <td>
                <a (click)="doStatusUpdate(searchUserData?.uid, 1)" class="btn btn-xs text-light border-0 bg-{{searchUserData?.isBlock.class1}}" title="{{searchUserData?.isBlock.text}}">
                  <i class="mdi {{searchUserData?.isBlock.class2}}"></i>
                </a>
                <a (click)="doStatusUpdate(searchUserData?.uid, 2)" class="btn btn-xs text-light border-0 bg-{{searchUserData?.isLock.class1}}" title="{{searchUserData?.isLock.text}}">
                  <i class="mdi {{searchUserData?.isLock.class2}}"></i>
                </a>
                <a *ngIf="searchUserData?.role == 'C'" routerLink="/current-bets/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-clock" title="Bet History">
                  <i class="mdi mdi-clock"></i>
                </a>
                <a *ngIf="searchUserData?.role == 'C'" routerLink="/users/client/setting/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-sett1" title="Setting">
                  <i class="mdi mdi-settings-outline"></i>
                </a>
                <a (click)="doStatusDelete(searchUserData?.uid)" class="btn btn-xs text-light border-0 bg-danger" title="Delete">
                  <i class="mdi mdi-delete"></i>
                </a>
                <a *ngIf="searchUserData?.role != 'C'" routerLink="/sport-block-unblock/{{searchUserData?.uid}}" class="btn btn-xs btn-rp" target="_blank" title="Sport Block">SB</a>
                <a routerLink="/users/action/withdrawal/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-w" title="Withdrawal chips">W</a>
                <a routerLink="/users/action/deposit/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-d" title="Deposit chips">D</a>
                <a routerLink="/users/action/reset-password/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-rp" title="Reset Password">RP</a>
                <a routerLink="/reports/chip-history/{{searchUserData?.uid}}" class="btn btn-xs btn-ch" title="Chip History" target="_blank">CH</a>
                <a routerLink="/reports/profit-loss/{{searchUserData?.uid}}" class="btn btn-xs btn-pl" title="Profit Loss" target="_blank">PL</a>
                <a routerLink="/reports/casino-profit-loss/{{searchUserData.uid}}" class="btn btn-xs btn-pl" title="Casino Profit Loss" target="_blank">CPL</a>
                <a routerLink="/reports/teenpatti-profit-loss/99/{{searchUserData?.uid}}" class="btn btn-xs btn-3pl" title="Live Game Profit Loss" target="_blank">LG</a>
                <a routerLink="/reports/teenpatti-profit-loss/999/{{searchUserData?.uid}}" class="btn btn-xs btn-3pl" title="Live Game 2 Profit Loss" target="_blank">LG2</a>
                <a routerLink="/reports/account-statement/{{searchUserData?.uid}}" class="btn btn-xs btn-as" title="Account Statement" target="_blank">AS</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->