<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between ">

    <!--back & create-->
    <div class="col-12 py-1">
      <h4 class="page-title">
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>Title</th>
          <th>Description</th>
          <th>Date & Time</th>
          <th>Ip Address</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.title}}</td>
          <td>{{item.description}}</td>
          <td>{{item.time}}</td>
          <td>{{item.ip}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- end row -->
</div>
<!-- container -->
