<!-- Start Content-->
<div class="container-fluid">
  <!-- event data -->
  <div class="row">
    <!-- Start Content-->
    <div class="container-fluid">
      <div class="row my-1">
        <div class="col-md-12">
          <div id="DashSlider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" #indicaters>
            </ol>
            <div class="carousel-inner" role="listbox" #carouselInner>
            </div>
          </div>
        </div> <!-- end col-->
      </div>
      <!-- end row -->
    <div class="card">
      <div class="card-body dash-card-body">
      <!--      <div class="dash-tabd">-->
      <!--        <ul class="nav nav-tabs nav-bordered my-nav-tabs">-->
      <!--          <li class="nav-item">-->
      <!--            <a class="nav-item nav-link" (click)="isActiveTabs = 'search';" [ngClass]="{'active': isActiveTabs === 'search'}">-->
      <!--              <i class="fas fa-search"></i>-->
      <!--            </a>-->
      <!--          </li>-->
      <!--          <li class="nav-item" (click)="getDataList( 'all' )">-->
      <!--            <a class="nav-item nav-link" (click)="isActiveTabs = 'all';" [ngClass]="{'active': isActiveTabs === 'all'}">-->
      <!--              -->
      <!--              <span class="desk-dash">Dashboard</span>-->
      <!--              <span class="mob-dash">Dash</span>-->
      <!--            </a>-->
      <!--          </li>-->
      <!--          <li class="nav-item" (click)="getDataList( 'market' )">-->
      <!--            <a class="nav-item nav-link" (click)="isActiveTabs = 'market';" [ngClass]="{'active': isActiveTabs === 'market'}">-->
      <!--              -->
      <!--              Market-->
      <!--            </a>-->
      <!--          </li>-->
      <!--          <li *ngFor="let item of dataList" class="nav-item" (click)="getDataList( item.slug )">-->
      <!--            <a  class="nav-item nav-link" id="{{'nav-'+item.slug+ '-tab'}}" (click)="isActiveTabs = item.slug;" [ngClass]="{'active': isActiveTabs === item.slug}">-->
      <!--              -->
      <!--              {{item.name}}-->
      <!--            </a>-->
      <!--          </li>-->
      <!--        </ul>-->
      <!--      </div>-->

      <div class="tab-content ctm-tabs-content default-tabs-panel pt-1" id="nav-tabContent">
        <!--
        <div class="tab-pane fade" id="nav-Search" [ngClass]="{'active show': isActiveTabs === 'search'}">
          <div class="col-md-12 all-dash-tabs px-0">
            <button class="dash-back-btn" (click)="getDataList( 'all' )" (click)="isActiveTabs = 'all';"><i
                class="fas fa-chevron-left"></i> back</button>
            <h4 class="header-title mb-0 text-dark finder-dark py-1 font-weight-bold px-2">
              <span class="red" *ngIf="cUserData?.role == 'SV'">No search for this user !!</span>
              <form *ngIf="cUserData?.role != 'SV'" [formGroup]="frm" (ngSubmit)="submitForm()">
                <div class="form-row align-items-center py-1">
                  <div class="col-xl-3 col-6">
                    <input placeholder="Search Username | Min 2 Character" type="text" required
                      formControlName="username" class="form-control">
                  </div>
                  <div class="col-xl-1 col-6">
                    <div class="input-group">
                      <button type="submit" class="btn btn-dark text-uppercase">Search</button>
                    </div>
                  </div>
                  <p class="red error-font p-0 m-0" *ngIf="searchUserError">Something wrong! User not found!</p>
                </div>
              </form>
            </h4>
            <div *ngIf="searchUserData != undefined" class="table-responsive my-1">
              <table class="table table-borderless dark-table-ui finder-table table-centered ctm-datables">
                <thead>
                  <tr>
                    <th>Role</th>
                    <th>Name [username]</th>
                    <th>Parent</th>
                    <th *ngIf="searchUserData?.role != 'C'">PL (%)</th>
                    <th>Pl Balance</th>
                    <th *ngIf="searchUserData?.role == 'C'">Available</th>
                    <th *ngIf="searchUserData?.role == 'C'">Expose</th>
                    <th>My Wallet</th>
                    <th *ngIf="searchUserData?.role != 'C'">Reference</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p *ngIf="searchUserData?.role == 'SM1' || searchUserData?.role == 'SM2'" class="super-master">SM
                      </p>
                      <p *ngIf="searchUserData?.role == 'M1'" class="master">M</p>
                      <p *ngIf="searchUserData?.role == 'C'" class="client">C</p>
                    </td>
                    <td>
                      <h5 class="m-0 text-white font-weight-normal">{{searchUserData?.name}}</h5>
                    </td>
                    <td>{{searchUserData?.pName}}</td>
                    <td *ngIf="searchUserData?.role != 'C'">{{searchUserData?.pl}} %</td>
                    <td>{{searchUserData?.pl_balance}}</td>
                    <td *ngIf="searchUserData?.role == 'C'">{{searchUserData?.available}}</td>
                    <td *ngIf="searchUserData?.role == 'C'">{{searchUserData?.expose}}</td>
                    <td>{{searchUserData?.balance}}</td>
                    <td *ngIf="searchUserData?.role != 'C'">
                      <a *ngIf="searchUserData?.reference?.smCount && searchUserData?.reference?.smCount > '0'"
                        target="_blank" routerLink="/users/super-master/reference/{{searchUserData?.uid}}"
                        title="Super Master">
                        <p class="super-master">SM {{searchUserData?.reference?.smCount}}</p>
                      </a>
                      <a *ngIf="searchUserData?.reference?.mCount && searchUserData?.reference?.mCount > '0'"
                        target="_blank" routerLink="/users/master/reference/{{searchUserData?.uid}}" title="Master">
                        <p class="master">M {{searchUserData?.reference?.mCount}}</p>
                      </a>
                      <a *ngIf="searchUserData?.reference?.cCount && searchUserData?.reference?.cCount > '0'"
                        target="_blank" routerLink="/users/client/reference/{{searchUserData?.uid}}" title="Client">
                        <p class="client">C {{searchUserData?.reference?.cCount}}</p>
                      </a>
                    </td>
                    <td>
                      <a (click)="doStatusUpdate(searchUserData?.uid, 1)"
                        class="btn btn-xs text-light border-0 bg-{{searchUserData?.isBlock.class1}}"
                        title="{{searchUserData?.isBlock.text}}">
                        <i class="mdi {{searchUserData?.isBlock.class2}}"></i>
                      </a>
                      <a (click)="doStatusUpdate(searchUserData?.uid, 2)"
                        class="btn btn-xs text-light border-0 bg-{{searchUserData?.isLock.class1}}"
                        title="{{searchUserData?.isLock.text}}">
                        <i class="mdi {{searchUserData?.isLock.class2}}"></i>
                      </a>
                      <a *ngIf="searchUserData?.role == 'C'" routerLink="/current-bets/{{searchUserData?.uid}}"
                        target="_blank" class="btn btn-xs btn-clock" title="Bet History">
                        <i class="mdi mdi-clock"></i>
                      </a>
                      <a *ngIf="searchUserData?.role == 'C'" routerLink="/users/client/setting/{{searchUserData?.uid}}"
                        target="_blank" class="btn btn-xs btn-sett1" title="Setting">
                        <i class="mdi mdi-settings-outline"></i>
                      </a>
                      <a (click)="doStatusDelete(searchUserData?.uid)" class="btn btn-xs text-light border-0 bg-danger"
                        title="Delete">
                        <i class="mdi mdi-delete"></i>
                      </a>
                      <a *ngIf="searchUserData?.role !== 'C'" routerLink="/sport-block-unblock/{{searchUserData?.uid}}" class="btn btn-xs btn-rp" target="_blank" title="Sport Block">SB</a>
                      <a routerLink="/users/action/withdrawal/{{searchUserData?.uid}}" target="_blank"
                        class="btn btn-xs btn-w" title="Withdrawal chips">W</a>
                      <a routerLink="/users/action/deposit/{{searchUserData?.uid}}" target="_blank"
                        class="btn btn-xs btn-d" title="Deposit chips">D</a>
                      <a routerLink="/users/action/reset-password/{{searchUserData?.uid}}" target="_blank"
                        class="btn btn-xs btn-rp" title="Reset Password">RP</a>
                      <a routerLink="/reports/chip-history/{{searchUserData?.uid}}" class="btn btn-xs btn-ch"
                        title="Chip History" target="_blank">CH</a>
                      <a routerLink="/reports/profit-loss/{{searchUserData?.uid}}" class="btn btn-xs btn-pl"
                        title="Profit Loss" target="_blank">PL</a>
                      <a routerLink="/reports/teenpatti-profit-loss/99/{{searchUserData?.uid}}"
                        class="btn btn-xs btn-3pl" title="Live Game Profit Loss" target="_blank">LG</a>
                      <a routerLink="/reports/teenpatti-profit-loss/999/{{searchUserData?.uid}}"
                        class="btn btn-xs btn-3pl" title="Live Game 2 Profit Loss" target="_blank">LG2</a>
                      <a routerLink="/reports/account-statement/{{searchUserData?.uid}}" class="btn btn-xs btn-as"
                        title="Account Statement" target="_blank">AS</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        -->
        <div class="tab-pane fade" id="nav-All" [ngClass]="{'active show': isActiveTabs === 'all'}">

          <div class="col-md-12 all-dash-tabs px-0">

            <div class="row mx-0 align-items-center text-center">

              <!--                <div class="col-lg-2 col-md-4 col-sm-4 col-6 dash-col-3 search-section">-->
              <!--                    <a class="nav-item nav-link" (click)="isActiveTabs = 'search';" [ngClass]="{'active': isActiveTabs === 'search'}">-->
              <!--                        <i class="fas fa-search"></i>-->
              <!--                    </a>-->
              <!--                </div>-->

              <div class="col-md-3 col-6 dash-col-3">
                  <a (click)="isActiveTabs = 'market';" (click)="getDataList( 'market' )">
                  <div class="widget-rounded-circle bg-card">
                    <img class="img-fluid" src="assets/img/mymarket.jpg" alt="">
                    <p>My Market</p>
                  </div>
                </a>
              </div>

              <div *ngFor="let item of dataList" class="col-md-3 col-6 dash-col-3">
                <a (click)="isActiveTabs = item.slug;" (click)="getDataList( item.slug )">
                  <div class="widget-rounded-circle bg-card">
                    <img class="img-fluid" [src]="item.image" alt="{{item.slug}}">
                    <p>{{item.name}}</p>
                    <!-- <span class="new-game" *ngIf="item.isNew == 1" data-plugin="counterup"></span> -->
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>

        <div aria-labelledby="nav-MYMARKET-tab" class="tab-pane fade" id="nav-MYMARKET"
          [ngClass]="{'active show': isActiveTabs === 'market'}" role="tabpanel" aria-expanded="false">
          <div class="row mx-0">

            <div *ngFor="let item of marketList; let iIndex = index" class="col-12 dash-div "
              [ngClass]="{'mt-1': iIndex !== 0}">

              <button class="dash-back-btn" (click)="getDataList( 'all' )" (click)="isActiveTabs = 'all';"><i
                  class="fas fa-chevron-left"></i></button>

              <div class="bg-danger">
                <b class="text-light ml-2 text-uppercase font-weight-bold">
                  {{item?.name}}
                </b>
              </div>

              <!--new design-->
              <div *ngFor="let item2 of item?.event" class="row mx-0 text-capitalize py-1">
                <div routerLink="dashboard/event-details/{{item?.slug}}/{{item2?.eventId}}"
                  class="col-md-5 align-self-center">
                  <div class="eventlist-name">
                    <p>
                      {{item2?.name}}
                      <em *ngIf="item2?.type === 'IN_PLAY'"><i class="mdi mdi-circle blinker text-success"></i></em>
                      <b>{{ item2?.time*1000 | date :'mediumDate' }} {{ item2?.time*1000 | date :'mediumTime' }}</b>
                    </p>
                  </div>
                </div>
                <div class="col-md-1 align-self-center text-lg-center">
                  <span class="dash-bets">{{ item2?.betCount }} BETS</span>
                </div>
                <div class="col-md-6 text-center align-self-center mx-0">
                  <ul *ngIf="item2?.runners?.length > 0" class="dash-ul">
                    <li *ngFor="let runner of item2?.runners"> {{runner?.runnerName}} <span
                        [ngClass]="{'dash-profit': runner?.profitLoss >= 0 , 'dash-loss': runner?.profitLoss < 0}"
                        class="">( {{runner?.profitLoss}} )</span> </li>
                  </ul>
                </div>
              </div>
              <!--new design-->


            </div> <!-- end col -->
          </div>
        </div>

        <div *ngFor="let item of dataList" class="tab-pane fade" id="nav-CRICKET" role="tabpanel"
          [ngClass]="{'active show': isActiveTabs === item.slug }">
          <div class="row mx-0">
            <div class="col-12 dash-div">

              <button class="dash-back-btn" (click)="getDataList( 'all' )" (click)="isActiveTabs = 'all';"><i
                  class="fas fa-chevron-left"></i></button>
              <div class="bg-danger">
                <button *ngIf="cUserData?.role != 'SV'" type="button"
                  [ngClass]="{'btn-success-unblock': !item?.isBlock,'btn-danger-block': item?.isBlock}" class="btn pr-0"
                  id="DashButtonGame">
                  <span (click)="doSportBlock(item?.sportId,item?.isBlock)" class="btn-label mr-0">
                    <i class="mdi" [ngClass]="{'mdi-check-all': !item?.isBlock,'mdi-block-helper': item?.isBlock}"></i>
                  </span>
                </button>
                <b class="text-light ml-2 text-uppercase font-weight-bold">{{item.name}}</b>
              </div>

              <!--new design-->
              <div *ngFor="let event of eventList" class="row mx-0 text-capitalize py-1">
                <div class="col-md-5 align-self-center">
                  <div class="eventlist-name">
                    <span class="tn-icons">
                      <button *ngIf="cUserData?.role != 'SV'" (click)="doEventBlock(event?.eventId,event?.isBlock)"
                        [ngClass]="{'btn-success-unblock': !event?.isBlock,'btn-danger-block': event?.isBlock}"
                        type="button" class="btn p-1 lh-08" id="DashButtonGame">
                        <i class="mdi"
                          [ngClass]="{'mdi-check-all': !event?.isBlock,'mdi-block-helper': event?.isBlock}"></i>
                      </button>
                      <button title="Setting"
                        *ngIf="cUserData?.role === 'ADMIN' && (item.slug != 'live-games' && item.slug != 'live-games2')"
                        (click)="getMenuSetting(item?.slug, event?.eventId, event?.name)"
                        class="btn btn-outline-secondary p-1 lh-08 ml-1" type="button">
                        <i class="mdi mdi-settings-outline text-light"></i>
                      </button>
                    </span>
                    <p routerLink="dashboard/event-details/{{item?.slug}}/{{event?.eventId}}">
                      {{event?.name}}
                      <em *ngIf="event?.type === 'IN_PLAY'"><i class="mdi mdi-circle blinker text-success"></i></em>
                      <b *ngIf="item.slug != 'live-games' && item.slug != 'live-games2'">{{ event.time*1000 | date
                        :'mediumDate' }} {{ event.time*1000 | date :'mediumTime' }}</b>
                    </p>
                  </div>
                </div>
                <div class="col-md-2 align-self-center text-lg-center">
                  <span class="dash-bets">{{ event.betCount }} BETS</span>
                </div>
                <div *ngIf="item.slug == 'cricket' || item.slug == 'tennis' || item.slug == 'football'"
                  class="col-md-5 text-center align-self-center mx-0">
                  <button type="button" class="d-blue-area">{{event?.oddsData?.odds &&
                    event?.oddsData?.odds[0]?.backPrice1 || '-'}}</button>
                  <button type="button" class="d-red-area">{{event?.oddsData?.odds &&
                    event?.oddsData?.odds[0]?.layPrice1 || '-'}}</button>
                  <button type="button" class="d-blue-area">{{event?.oddsData?.odds &&
                    event?.oddsData?.odds[2]?.backPrice1 || '-'}}</button>
                  <button type="button" class="d-red-area">{{event?.oddsData?.odds &&
                    event?.oddsData?.odds[2]?.layPrice1 || '-'}}</button>
                  <button type="button" class="d-blue-area">{{event?.oddsData?.odds &&
                    event?.oddsData?.odds[1]?.backPrice1 || '-'}}</button>
                  <button type="button" class="d-red-area">{{event?.oddsData?.odds &&
                    event?.oddsData?.odds[1]?.layPrice1 || '-'}}</button>
                </div>
              </div>
              <!--new design-->

              <div *ngIf="isEmpty" class="row mx-0 py-2 text-capitalize align-items-center">
                <div class="col-md-4 col-12">
                  No Data Found!!!
                </div>
              </div>
            </div> <!-- end col -->
          </div>
        </div>
      </div>
      </div>

    </div>
  </div>
  <!-- event data end-->

</div> <!-- container -->

<!-- menu Setting Modal -->
<div class="modal fade modal-msetting modal-one" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body row justify-content-between bg-light border border-danger font-weight-bold ">
        <div class="col-xl-12 ctm-form">
          <div class="modal-header bg-dark">
            <h4 class="modal-title text-light" id="myCenterModalLabel"><b>{{settingtitel}}</b></h4>
            <button type="button" class="close text-light" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-12">
              <div class="ctm-form-div">
                <form [formGroup]="frmSetting" (ngSubmit)="submitSettingForm()">
                  <div class="col-xl-12 row" *ngIf="slug != 'jackpot' && slug != 'binary' && slug != 'cricket_casino'">
                    <div class="form-group mb-3 col-xl-6">
                      <label>Upcoming Min Stake</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-user-tie"></i>
                          </span>
                        </div>
                        <input type="number" required formControlName="upcoming_min_stake" class="form-control"
                          placeholder="Enter value" aria-label="" aria-describedby="">
                        <em class="show-error" *ngIf="upcomMinStak.invalid && (upcomMinStak.dirty || upcomMinStak.touched)">
                            Value Invalid !</em>
                      </div>
                      <p class="form-refer-text"> Upcoming Min Stake | Ex 1000</p>
                    </div>

                    <div class="form-group mb-3 col-xl-6">
                      <label>Upcoming Max Stake</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>
                        <input type="number" required formControlName="upcoming_max_stake" class="form-control"
                          placeholder="Enter value" aria-label="" aria-describedby="">
                        <em class="show-error"
                          *ngIf="upcomMaxStak.invalid && (upcomMaxStak.dirty || upcomMaxStak.touched)">Value Invalid
                          !</em>
                      </div>
                      <p class="form-refer-text"> Upcoming Max Stake | Ex 1000</p>
                    </div>
                  </div>

                  <div class="col-xl-12 row" *ngIf="slug != 'jackpot' && slug != 'cricket_casino' && slug != 'binary'">
                    <div class="form-group mb-3 col-xl-6">
                      <label>Max Odd Limit</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>
                        <input type="number" required formControlName="max_odd_limit" class="form-control"
                          placeholder="Enter value" aria-label="" aria-describedby="">
                        <em class="show-error" *ngIf="maxOddLmt.invalid && (maxOddLmt.dirty || maxOddLmt.touched)">Value
                          Invalid !</em>
                      </div>
                      <p class="form-refer-text"> Max Odd Limit | Ex 1000</p>
                    </div>

                    <div class="form-group mb-3 col-xl-6">
                      <label>Event Max Profit Limit</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>
                        <input type="number" required formControlName="overall_profit_limit" class="form-control"
                          placeholder="Enter value" aria-label="" aria-describedby="">
                        <em class="show-error"
                          *ngIf="overallProfitLmt.invalid && (overallProfitLmt.dirty || overallProfitLmt.touched)">value
                          Invalid !</em>
                      </div>
                      <p class="form-refer-text">Event Max Profit Limit | Ex 10000</p>
                    </div>
                  </div>

                  <div class="form-group mb-3 col-xl-12" *ngIf="slug === 'cricket_casino' || slug === 'jackpot' || slug === 'binary'">
                    <label>Event Max Profit Limit</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-user"></i>
                        </span>
                      </div>
                      <input type="number" required formControlName="overall_profit_limit" class="form-control"
                        placeholder="Enter value" aria-label="" aria-describedby="">
                      <em class="show-error"
                        *ngIf="overallProfitLmt.invalid && (overallProfitLmt.dirty || overallProfitLmt.touched)">value
                        Invalid !</em>
                    </div>
                    <p class="form-refer-text">Event Max Profit Limit | Ex 10000</p>
                  </div>

                  <!-- <div class="form-group mb-3 col-xl-12" *ngIf="slug === 'jackpot'">
                    <label>Event Max Profit Limit</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-user"></i>
                        </span>
                      </div>
                      <input type="number" required formControlName="overall_profit_limit" class="form-control"
                        placeholder="Enter value" aria-label="" aria-describedby="">
                      <em class="show-error"
                        *ngIf="overallProfitLmt.invalid && (overallProfitLmt.dirty || overallProfitLmt.touched)">value
                        Invalid !</em>
                    </div>
                    <p class="form-refer-text">Event Max Profit Limit | Ex 10000</p>
                  </div> -->

                  <!--
                  <div class="col-xl-12 row">
                    <div class="form-group mb-3 col-xl-6">
                      <label *ngIf="slug != 'jackpot' && slug != 'binary' && slug != 'cricket_casino'">Session Min Stack</label>
                      <label *ngIf="slug == 'jackpot' || slug == 'binary' || slug == 'cricket_casino'">Min Stack</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>
                        <input type="number" required formControlName="min_stack" class="form-control"
                          placeholder="Enter value" aria-label="" aria-describedby="">
                        <em class="show-error" *ngIf="minStack.invalid && (minStack.dirty || minStack.touched)">Value
                          Invalid !</em>
                      </div>
                      <p class="form-refer-text">Min Stake | Ex 1000</p>
                    </div>

                    <div class="form-group mb-3 col-xl-6">
                      <label *ngIf="slug != 'jackpot' && slug != 'binary' && slug != 'cricket_casino'">Session Max Stack</label>
                      <label *ngIf="slug == 'jackpot' || slug == 'binary' || slug == 'cricket_casino'">Max Stack</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>
                        <input type="number" required formControlName="max_stack" class="form-control"
                          placeholder="Enter value" aria-label="" aria-describedby="">
                        <em class="show-error" *ngIf="maxStack.invalid && (maxStack.dirty || maxStack.touched)">Value
                          Invalid !</em>
                      </div>
                      <p class="form-refer-text">Max Stake | Ex 1000</p>
                    </div>
                  </div>

                  <div class="col-xl-12 row" *ngIf="slug != 'cricket_casino'">
                    <div class="form-group mb-3 col-xl-6">
                      <label>Market Max Profit Limit</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>
                        <input type="number" maxlength="100" formControlName="max_profit_limit" class="form-control"
                          placeholder="Enter value" aria-label="" aria-describedby="">
                        <em class="show-error"
                          *ngIf="maxProfitLmt.invalid && (maxProfitLmt.dirty || maxProfitLmt.touched)">Value Invalid
                          !</em>
                      </div>
                      <p class="form-refer-text">Market Max Profit Limit | Ex 10000</p>
                    </div>

                    <div class="form-group mb-3 col-xl-6">
                      <label>Bet Delay</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>
                        <input type="number" formControlName="bet_delay" class="form-control" placeholder="Enter value"
                          aria-label="" aria-describedby="">
                        <em class="show-error" *ngIf="betDelay.invalid && (betDelay.dirty || betDelay.touched)">Value
                          Invalid !</em>
                      </div>
                      <p class="form-refer-text">Bet Delay | Ex 1 Second</p>
                    </div>
                  </div>
                  <div class="form-group mb-3 col-xl-12" *ngIf="slug === 'cricket_casino'">
                    <label>Market Max Profit Limit</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-user"></i>
                        </span>
                      </div>
                      <input type="number" maxlength="100" formControlName="max_profit_limit" class="form-control"
                        placeholder="Enter value" aria-label="" aria-describedby="">
                      <em class="show-error"
                        *ngIf="maxProfitLmt.invalid && (maxProfitLmt.dirty || maxProfitLmt.touched)">Value Invalid
                        !</em>
                    </div>
                    <p class="form-refer-text">Market Max Profit Limit | Ex 10000</p>
                  </div>
                  -->
                </form>
              </div>
              <div class="modal-footer justify-content-center">
                <div class="form-group ">
                  <div class="button-list">
                    <button class="btn btn-success btn-md" (click)="submitSettingForm()" [ngClass]="{'disabled': !frmSetting.valid}">Submit</button>
                    <a class="btn btn-danger btn-md text-light" (click)="onCancel()">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- banner model -->
<!--
<div class="modal fade modal-s3 modal-one" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered" style="min-width: 90% !important; min-height: calc(100% - 30rem) !important;">
    <div class="modal-content">
      <div class="modal-header bg-light py-1">
        <button type="button" class="close text-danger" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div *ngIf="bannerUrl" class="modal-body p-0">
        <img class="img-fluid" src="{{bannerUrl}}">
      </div>
    </div>
  </div>
</div>
-->